.eventParent{
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
}
.eventChild{
    display: flex;
    margin:23px 46px 23px 0px;
    background: rgba(251, 190, 74, 0.05);
    mix-blend-mode: normal;
    border: 1px solid rgba(251, 190, 74, 0.3);
    box-sizing: border-box;
    border-radius: 2px;
}
.eventChild1{
    width: 260px;
    padding-top: 13px;
    padding-left: 24px;
}

.eventTitle{
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */

text-transform: capitalize;

/* Blue3 */

color: #3788AA;
}
.eventDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
.date{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    text-transform: capitalize;
    
    /* Blue1 */
    
    color: #1C445A;
    opacity: 0.5;
}
.learn{
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-transform: capitalize;

/* Blue1 */
color: #1C445A;
cursor: pointer;
}
.subEvents{
    margin-right: 20px;
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
/* identical to box height */

text-transform: capitalize;

color: rgba(28, 68, 90, 0.6);
}
/* .eventChild2{
    height:204.94px !important;
} */