.eventParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.eventChild {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin-right: 24px;
  margin-bottom: 24px;
  background: rgba(251, 190, 74, 0.05);
  mix-blend-mode: multiply;
  border: 1px solid rgba(251, 190, 74, 0.3);
  box-sizing: border-box;
  border-radius: 2px;
}
.eventChild1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 24px;
}
.eventDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eventTitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  /* identical to box height */
  text-transform: capitalize;

  /* Blue3 */
  color: #3788aa;
}
.eventDescription {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;

  /* or 21px */

  color: rgba(28, 68, 90, 0.6);
}
.date {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  /* identical to box height */
  text-transform: capitalize;

  /* Blue1 */
  color: #1c445a;
  opacity: 0.5;
}
.learn {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  /* identical to box height */
  text-transform: capitalize;
  text-decoration: none;
  /* Blue1 */
  color: #1c445a;
}
.eventImage {
  width: 50%;
  height: 200px;
}
@media only screen and (max-width: 768px) {
  .eventChild {
    width: 100%;
  }
  .eventTitle {
    font-size: 14px;
    line-height: 24px;
  }
  .eventChild1 {
    padding: 0 10px;
  }
  .eventDescription {
    font-size: 9px;
    line-height: 13px;
  }
  .date {
    font-size: 9px;
    line-height: 11px;
  }
  .learn {
    font-size: 9px;
    line-height: 13px;
  }
  .eventImage {
    height: 118px;
    width: 47%;
  }
}
@media only screen and (min-width: 1600px) {
  .eventTitle {
    font-size: 30px;
    line-height: 36px;
  }
  .eventDescription {
    font-size: 20px;
    line-height: 26px;
  }
  .date {
    font-size: 20px;
    line-height: 18px;
  }
  .learn {
    font-size: 20px;
    line-height: 26px;
  }
  .eventImage {
    height: 240px;
  }
}
