.indexParent{
    background-color: #fff;
}
.heading{
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 54px;
margin-bottom:15px !important;
/* identical to box height */

text-transform: capitalize;

/* Blue2 */

color: #1B638B;
}
.about{
    margin: 80px 0;
    background-image: url('../img/aboutback.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.events{
    margin:60px 0 ;
    

}

.main,.events,.about{
    padding-left:100px;

}
@media only screen and (max-width:768px){
    .main,.events,.about{
        padding-left:14px;
    }
    .about{
        margin: 30px 0;
        background-image: url('../img/aboutMobile.jpg');
        background-repeat: no-repeat;
        background-size: cover; 
    }
    .heading{
        font-size: 20px;
line-height: 30px;
    }
}
@media only screen and  (min-width:1600px){
    .heading{
        font-size: 42px;
    }
}